<!DOCTYPE html>
<html>
<script src="js/angular.min.js"></script>
<script src="js/angular.route.js"></script>
<script src="js/angular_minimal.js"></script>
<body>
  <div ng-app="myApp" ng-controller="myCtrl" ng-init="points=[1,15,19,2,40]">
    
    <p><a href="https://www.w3schools.com/angular/main.htm">Main</a></p>
    <a href="https://www.w3schools.com/angular/red.htm">Red</a>
    <a href="https://www.w3schools.com/angular/green.htm">Green</a>
    <a href="https://www.w3schools.com/angular/blue.htm">Blue</a>
    <div ng-view></div>

    
    <h1>The time is: {{theTime}}</h1>
    <w3-test-directive></w3-test-directive>
    <p>{{myHeader | uppercase}} You are currently at <h3>{{myUrl}}</h3></p>
    <p>Array Demo using span -&gt; The third result is <span ng-bind="points[2]"></span></p>
    
    <div>
      <ul>
        <p>ng-repeat demo</p>
        <ul>
        <li style="color:blue" ng-repeat="x in names">{{x | uppercase}}</li>
        <li style="color:red" ng-repeat="x in names">{{x | lowercase}}</li>
        <li style='color:green' ng-repeat="x in names">{{x}}</li>
      </ul>
    </div>
    
    <table style="border: black solid 1px;">
      <tr ng-repeat="x in records">
        <td ng-if="$odd" style="background-color:#f1f1f1">
        {{ x.Name }}</td>
        <td ng-if="$even">
        {{ x.Name }}</td>
        <td ng-if="$odd" style="background-color:#f1f1f1">
        {{ x.Country }}</td>
        <td ng-if="$even">
        {{ x.Country }}</td>
      </tr>
    </table>
  
    <form name="myForm">
      Email:
      <input type="email" name="myAddress" ng-model="myText" required>
      <h4>Status</h4>
      <p>Valid: {{myForm.myAddress.$valid}} (if true, the value meets all criteria).</p>
      <p>Dirty: {{myForm.myAddress.$dirty}} (if true, the value has been changed).</p>
      <p>Touched: {{myForm.myAddress.$touched}} (if true, the field has been in focus).</p>
      
      Select a topic:
      <select ng-model="myVar">
        <option value="">Select
        <option value="dogs">Dogs
        <option value="tuts">Tutorials
        <option value="cars">Cars
      </select>
    </form>
  
    <div class='w3-container' ng-switch="myVar">
      <div ng-switch-when="dogs">
        <h1>Dogs</h1>
        <p>Welcome to a world of dogs.</p>
      </div>
      <div ng-switch-when="tuts">
        <h1>Tutorials</h1>
        <p>Learn from examples.</p>
      </div>
      <div ng-switch-when="cars">
        <h1>Cars</h1>
        <p>Read about cars.</p>
      </div>
    </div>
    <div>{{myWelcome}}</div>
  </div>
</body>
</html>
