<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Express App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.min.css" />
    <style>
        body {
            font-family: Ubuntu;
            background-color: #F0EDE5;
            font-size: 1em;
        }
        .form-group {
            flex-direction: column;
            border: 1px solid rgb(41, 127, 207);
            background-color: whitesmoke;
            border-radius: 5px;
            padding: 25px 50px;
        }
        .form-group > .row {
            padding: 5px 0px;
        }
        .form-group > .row > input {
            border: 1px solid rgb(77, 154, 226);
            border-radius: 3px;
        }
        .centering {
            float: none;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <h1>Add Customer</h1>
    <% if(errors != undefined) { %>
        <% errors.forEach(function(error){ %>
            <li><%= error.msg %></li>
        <% }) %>
    <% } %>
    <form method="POST" action="/user/add" class="form-group container">
        <div class="row">
            <label class="col-sm-6 col-xs-6">First name</label>
            <input class="col-sm-6 col-xs-6" type="text" name="fname" />
        </div>
        <div class="row">
            <label class="col-sm-6 col-xs-6">Last name</label>
            <input class="col-sm-6 col-xs-6"type="text" name="lname" />
        </div>
        <div class="row">
            <label class="col-sm-6 col-xs-6">Email</label>
            <input class="col-sm-6 col-xs-6" type="text" name="email" />
        </div>
        <div class="row">
            <label class="col-sm-6 col-xs-6">Age</label>
            <input class="col-sm-6 col-xs-6" type="number" name="age" />
        </div>
        <div class="row">
            <label class="col-sm-6 col-xs-6">Gender</label>
            <select class="col-sm-6 col-xs-6">
                <option value="">---Select---</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>
        <div class="row">
            <div class="centering">
                <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                <button id="cancel" type="submit" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </form>
    <ul>
        <% users.forEach(function(user){ %>
            <li>
                <%= user.fname %> <%= user.lname %> <%= user.email %>
            </li>
        <% }) %>
    </ul>
</body>
</html>