
.form-field {
  padding: 5px 0px;
}

.form-btn {
  margin: 0px 5px;
}

.simple-form {
  border: 1px solid gray;
  border-radius: 5px;
  background-color: rgb(247, 247, 247);
  padding: 10px 10px;
}


.show-error {
  display: block;
  color: coral;
}

.hide-error {
  display: none;
}

.navbar-delight {
  background-color: rgb(207, 238, 32);
  border: 1px solid rgb(158, 185, 0);
}