<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="js/angular.min.js"></script>
	<script src="js/jquery-3.2.1.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script>
	$(document).ready(function(){
	    $("#dashboard").hide();
	    $("#your-blogs").hide();
	    $("#friends").hide();
	});

    function show(id) {
		$(id).css("display", "block");
    }

	function hide(id) {
		$(id).css("display", "none");
	}

	</script>
	<script>
		var app = angular.module('table_module', []);
		app.controller('your_blog_controller', function($scope) {
			$scope.your_blogs = [];
			$scope.friend_data = [];
			for(var i=0 ; i<10; i++) {
				$scope.your_blogs[i] = {"id": "piyush2k13", "blog": "some blogs"};
				$scope.friend_data[i] = {"id": "friend_id_1234", "blog": "some blogs"};
			}
		});
	</script>
	
</head>
<body ng-app="table_module" ng-controller="your_blog_controller">
	<div class="header"></div>
	<div class="container" style="margin-top:10px">
		<ul class="navigation-bar">
			<li class="active" onclick="show('#dashboard'); hide('#your-blogs'); hide('#friends')"><a href="#dashboard">Dashboard</a></li>
			<li><a href="#your-blogs" onclick="hide('#dashboard'); show('#your-blogs'); hide('#friends')">Your Blogs</a></li>
			<li><a href="#friends" onclick="hide('#dashboard'); hide('#your-blogs'); show('#friends')">Friends</a></li>
		</ul>
		<div class="tab-content">
			<div id="dashboard" style="display: none;">
				<h1>Dashboard</h1>
				<p>Try to scroll this page and look at the navigation bar while scrolling!</p>
			</div>
			<div id="your-blogs" style="display: none;">
				<h1>Your Blogs</h1>
				<table class="table" style="width:100%;">
					<tbody class="light_color">
						<tr ng-repeat="d in your_blogs">
						    <td sytle="width:20%;"><label data-toggle="modal" data-target="#myModal"><a href="#">{{ d.id }}</a></label></td>
							<td sytle="width:70%;"><label style="font-style: italic;"><a href="#">{{ d.blog }}</a></label></td>
							<td sytle="width:10%;"><a href="#"><span class="glyphicon glyphicon-trash delete"></span></a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="friends" style="display: none;">
				<h1>Friends</h1>
				<table class="table" style="width:100%;">
					<tbody class="light_color">
						<tr ng-repeat="dd in friend_data">
						    <td sytle="width:20%;"><label data-toggle="modal" data-target="#myModal"><a href="#">{{ dd.id }}</a></label></td>
							<td sytle="width:70%;"><label style="font-style: italic;"><a href="#">{{ dd.blog }}</a></label></td>
							<td sytle="width:10%;"><a href="#"><span class="glyphicon glyphicon-trash delete"></span></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>