body {
	background-color:rgb(247, 245, 245);
}

.form {
	min-width: 250px;
	max-width: 300px;
	margin-left: auto;
	margin-right: auto; 
	margin-top:5%;
	padding: 15px;
	background-color:white;
	border: rgb(201, 201, 201) solid 1px;
	border-radius: 4px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-header {
	text-align: center;
	margin-bottom:20px;
}

.form-field {
	margin: auto;
	margin-bottom: 10px;
}

.form-btn {
	width:100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

ul.about-us {
	list-style-type: none; 
	padding: 0;
	margin-top: 2%;
	margin-left: auto; 
	margin-right: auto;
	min-width: 250px;
	max-width: 300px;
}

li.about-us {
	display: inline;
	list-style-type: none;
	list-style-position: outside;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
	font-size: 12px;
}
div.header {
	display: inline-block;
	width: 100%;
	height: 75px;   /* We'll override this later */
	background-color: rgb(52, 152, 219);
}

.mandatory:after { 
	content:" *";
	color: crimson;
}

ul.navigation-bar {
	border-bottom: black solid 1px;
	list-style-type: none;
	overflow: hidden;
	margin-top: 5%;
}

ul.navigation-bar > li {
	float: left;
	text-align: center;
	padding: 0px 0px 0px 0px;
}

ul.navigation-bar > li > a {
	display: inline-block;
	width: 120px;
	padding: 8px;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-top: 1px solid transparent;
}

ul.navigation-bar > li > a:hover {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background-color: rgb(21, 139, 194);
	text-decoration: none;
	color: white;
}

ul.navigation-col {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.navigation-col > li {
	text-align: right;
}

ul.navigation-col > li > a {
	display: block;
	width: 100%;
	padding: 10px;
	border: 1px solid transparent;
	border-radius: 4px;
}

ul.navigation-col > li > a:hover {
	background-color: rgb(21, 139, 194);
	text-decoration: none;
	color: white;

}

.navigation-bar-item {
	margin-top: 20px;
	max-height: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: white;
	border-radius: 5px;
}


