body {
    background-color: rgb(241, 241, 241);
}

.red {
    display: block;
    color: coral;
}

.blue {
    display: block;
    color: dodgerblue;
}

.purple {
    display: block;
    color: plum;
}